body {
    background-color: #e6e6fa; /* Light purple background */
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 80vh; /* Adjusted height */
    margin-top: 10vh; /* Move towards the top */
}

#prompt-container {
    text-align: center; /* Center its children */
}



h1 {
    color: #800080; /* Darker purple */
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #800080; /* Darker purple */
    color: #fff;
}

button:hover {
    background-color: #9932cc; /* Slightly lighter purple on hover */
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}
